Alan Mizrahi <alan@mizrahi.com.ve>
Alexandr Savca <alexandr.savca89@gmail.com>
Andrew Brouwers <abrouwers@gmail.com>
Brett Goulder <predatorfreak@dcaf-security.org>
Fredrik Rinnestam <fredrik.rinnestam@valvea.se>
Fredrik Rinnestam <fredrik@crux.nu>
Håvard Moen <vanilje@netcom.no>
Johannes Weiner <hannes@saeurebad.de>
Johannes Winkelmann <jw@smts.ch>
Juergen Daubert <jue@jue.li>
Just.The.Real.Fun <just.the.real.fun@gmail.com>
Lucas Hazel <lucas@die.net.au>
Matt Housh <jaeger@crux.nu>
Matt Housh <jaeger@morpheus.net>
Matthias-Christian Ott <matthias.christian@tiscali.de>
Per Lidén <per@fukt.bth.se>
Predrag Ivanovic <predivan@mts.rs>
Simone Rota <sip@crux.nu>
Thomas Penteker <tek@serverop.de>
Thomas Penteker <thomas.penteker@siemens.com>
Tilman Sauerbeck <tilman@code-monkey.de>
Tilman Sauerbeck <tilman@crux.nu>
